.project-card {
    border: 2px solid salmon;
    background-color: #fff;
    padding: 10px;
    flex-wrap: wrap;
}


.five-images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* display: flex;
    flex-wrap: wrap; */
}

.techicon {
    border: 2px solid salmon;
    display: inline-block;
    padding: 10px;
}


.techicon img {
    /* width: 50px;
    height: 50px; 
    4:3
    16:9
    */
    width: 100%;
    aspect-ratio: 2;
    display: block;
}

@media screen and (min-width: 640px) {
    .project-card {
        max-width: 33%;
    }

    .five-images-grid {
        grid-template-columns: repeat(5, 1fr);
    }

}